/* ==========================================================================
   Base elements
   ========================================================================== */

html {
  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
}

body {
  border-top: solid 0.25em;
}

blockquote,
q {

  footer {
    font-size: 80%;
    font-style: normal;

    &::before {
      padding-right: 0.25rem;
      content: "\2014";
    }
  }
}

code,
kbd,
samp,
pre {
  font-family: $monospace-font-family;
}

kbd {
  display: inline-block;
  margin: 0 0.125em;
  padding: 0.125em 0.5em;
  color: #000;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  font-size: 85%;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font-family;
  text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
}

h1 {
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

h2 {
  @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);
}

h3 {
  @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
}

h4 {
  @include fluid-type($min-vw, $max-vw, $h4-min, $h4-max);
}

h5 {
  @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
}

h6 {
  @include fluid-type($min-vw, $max-vw, $h6-min, $h6-max);
}

dt {
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

dd {
  margin: 0;
}

pre {
  @include fluid-type($min-vw, $max-vw, 12px, 14px);
}

figcaption {
  margin: 0.5rem 0;
  font-size: 80%;
}

a {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}

// Publications 

.publications {
  margin-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.bibliography {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .preview {
      }

      .abbr {
        margin-bottom: 0.5rem;

        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          margin-bottom: 0.5rem;

          a {
            color: white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }

      .title {
        @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
        font-weight: bolder;
      }

      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }

        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }

        > span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;

          &:hover {
            color: var(--global-text-color);
            border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }

      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          margin-left: 0;

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
        a.award.btn {
          border-color: var(--global-highlight-color);
        }
      }

      .badges {
        padding-bottom: 0.5rem;
        span {
          display: inline-block;
          color: $black-color;
          height: 100%;
          padding-right: 0.5rem;
          vertical-align: middle;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
    div.award.hidden {
      border: dashed 1px var(--global-bg-color);
    }
    div.award.hidden.open {
      border-color: var(--global-highlight-color);
    }
  }
}